/*  COLORS */
/* 75% */
/* 50% */
/* 80% */
/* 75% */
/* 75% */
/*  FONTS  */
.adelle {
  font-family: "adelle";
  font-weight: 400;
}
.ralewayLight {
  font-family: 'ralewaythin';
}
.raleway {
  font-family: 'ralewayregular';
}
h2 {
  font-size: 32px;
  color: #614866;
  font-family: "adelle";
  font-weight: 400;
  margin: 55px 0 25px 55px;
  letter-spacing: -1.35px;
}
/*  STYLES  */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-image: url(../images/bckgrnd.png);
  height: 100%;
}
body {
  font-family: 'ralewaylight';
  font-size: 20px;
  font-size: 2rem;
  color: #393939;
  margin: 0;
  padding: 0;
  line-height: 35px;
  height: 100%;
}
/*  header  */
header {
  background-image: url(../images/headbg.png);
  margin: 0;
  padding: 27px 0;
}
header nav div h1 a {
  color: #777777;
  font-size: 50px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  font-family: 'ralewayregular';
  text-decoration: none;
  letter-spacing: -1px;
}
header h1 {
  margin: 0;
}
nav {
  display: block;
  width: 100%;
  text-align: center;
  padding: 21px;
  padding-top: 17px;
  border-top: 1px solid #735d60;
  border-bottom: 1px solid #735d60;
}
.navbar a {
  color: #bf592a;
  font-family: 'ralewayregular';
  font-size: 20px;
  border: 1px solid #bf592a;
  text-transform: uppercase;
  width: 117px;
  display: inline-block;
  text-decoration: none;
  margin: 0 25px;
  box-shadow: 0px 0px 0px 1px rgba(123, 58, 27, 0.8), 0px 0px 0px 1px rgba(188, 107, 70, 0.75);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.navbar a:hover {
  background-color: #bf592a;
  color: #202020;
}
p {
  margin-left: 80px;
  margin-bottom: 0;
}
ul {
  padding-left: 100px;
}
footer span {
  color: #777777;
}
footer a {
  color: #777777;
  text-decoration: none;
  padding: 0 50px;
}
footer {
  background-image: url(../images/headbg.png);
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  display: block;
  font-size: 18px;
  padding: 10px;
}
@media only screen and (min-width: 400px) and (max-width: 900px) {
  select {
    width: 96%;
  }
  input[type='text'] {
    width: 90%;
  }
  span {
    display: block;
    width: 100%;
    clear: both;
  }
}
/*  MIXINS  */
/*  CLASSES  */
.closeLink {
  position: relative;
  right: 10px;
  color: #f5f0ec;
  display: block;
  text-align: right;
}
.closeLink:hover {
  border-bottom: none;
  cursor: pointer;
}
.clearfix {
  clear: both;
}









































/*  ADD NEW  */
form.addNewForm {
  padding:20px;
}
.addNewForm {
  border: 1px solid #f5f0ec;
}
#contentDiv .addNew {
  background-color: #4c3d4f;
  margin: 20px;
  padding: 20px;
}
.addNew fieldset {
  border: 1px solid #f5f0ec;
  display: inline-block;
  padding: 10px 20px 20px;
}
.addNew fieldset legend {
  text-transform: uppercase;
  color: #bf592a;
}

input,
select {
  background-color: #4c3d4f;
  border: 3px double #f5f0ec;
  font-family: raleway;
  size: 18px;
  color: #f5f0ec;
  text-align: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
span {
  display: inline-block;
}
.col {
  display: inline-block;
}
.three {
  width: auto;
}
fieldset.other {
  width: 100%;
}
.other fieldset {
  border: none;
  border-top: 1px solid #f5f0ec;
}
.other fieldset legend {
  font-size: 14px;
}
.other fieldset fieldset label {
  font-size: 12px;
}
.addNew label {
  text-transform: uppercase;
  color: #f5f0ec;
  font-size: 12px;
  display: block;
}
input[type='text'] {
  font-size: 22px;
}
input.floor {
  width: 68px;
}
input.city {
  width: 134px;
}
input.one,
select.one {
  width: 38px;
}
input.two,
select.two {
  width: 43px;
}
input.three,
select.three {
  width: 60px;
}
input.four,
select.four {
  width: 72px;
}
input.five,
select.five {
  width: 84px;
}
input.six,
select.six {
  width: 87px;
}
input.seven,
select.seven {
  width: 96px;
}
input.eight,
select.eight {
  width: 109px;
}
input.nine,
select.nine {
  width: 131px;
}
input.ten,
select.ten {
  width: 134px;
}
input.eleven,
select.eleven {
  width: 142px;
}
input.twelve,
select.twelve {
  width: 147px;
}
input.thirteen,
select.thirteen {
  width: 164px;
}
input.fourteen,
select.fourteen {
  width: 180px;
}

input.fifteen, select.fifteen {
	width: 380px;
}

.col-2-col-1 {
  width: 37%;
  display: inline-block;
}
.col-2-col-2 {
  width: 62%;
  display: inline-block;
}
.clearfix {
  clear: both;
}
div.checkbox label {
  text-transform: capitalize;
  font-size: 18px;
  display: inline-block;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + label span {
  display: inline-block;
  width: 32px;
  height: 23px;
  background: url(../images/chkbox.png);
  position: relative;
  top: 2px;
}
input[type='checkbox']:checked + label span {
  background: url(../images/chk.png);
}
.row {
  text-align: justify;
  padding-bottom: 21px;
  height: 21px;
}
.row:after {
  content: '';
  width: 100%;
  display: inline-block;
}
#contentDiv {
  line-height: normal;
}
